**/bin/
**/obj/
.vs/
*.csproj.user
Ben/Ben.csproj.user
Ben.Client/Ben.Client.csproj.user
Ben.Client/Properties/launchSettings.json
Ben.Client/Package.StoreAssociation.xml
Ben.Client/Properties/launchSettings.json
