**/bin/
**/obj/
*.csproj.user
Ben/Ben.csproj.user
Ben.Client/Ben.Client.csproj.user
Ben.Client/Properties/launchSettings.json
.vs/Ben.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Ben.slnx/FileContentIndex/1c6ae141-d9ed-489b-ba5a-37eb96c050be.vsidx
.vs/Ben.slnx/FileContentIndex/a360f339-93b7-4d19-b1b0-d9b0cb3aaa3a.vsidx
.vs/Ben.slnx/v18/.futdcache.v2
.vs/Ben.slnx/v18/.suo
.vs/Ben.slnx/v18/DocumentLayout.backup.json
.vs/Ben.slnx/v18/DocumentLayout.json
.vs/ProjectEvaluation/ben.metadata.v10.bin
.vs/ProjectEvaluation/ben.projects.v10.bin
.vs/ProjectEvaluation/ben.strings.v10.bin
Ben.Client/Package.StoreAssociation.xml
Ben.Client/Properties/launchSettings.json
